_Backtrace_
bentPlumeAnalyser.py.*
bentPlumeAnalyser.py~
bentPlumeAnalyser.pyc
exp12.json
fumarolePlumeModel.aux
fumarolePlumeModel.log
fumarolePlumeModel.tex
fumarolePlumeModel.tex~
fumarolePlumeModel_workflow.tex
initialConds.npy
.ipynb_checkpoints/*
objFn.npy
plumeAnalyser.aux
plumeAnalyser-Copy1.ipynb
plumeAnalyserInversion20190514.ipynb
plumeAnalyserInversion20190515.ipynb
plumeAnalyserInversionbase.ipynb
plumeAnalyser.ipynb
plumeAnalyser.log
plumeAnalyserRealPlume.ipynb
plumeAnalyserSyntheticHorizontal.ipynb
plumeAnalyserSyntheticHorizontal_play2.ipynb
plumeAnalyserSyntheticHorizontal_play.ipynb
plumeAnalyserSyntheticVertical.*
plumeAnalyser.tex
Untitled.ipynb
