bentPlumeAnalyser.py~
bentPlumeAnalyser.py.20190226
bentPlumeAnalyser.py.20190304
bentPlumeAnalyser.py.20190308
bentPlumeAnalyser.py.20190507
bentPlumeAnalyser.py.20240219
bentPlumeAnalyser.pyc
fumarolePlumeModel.aux
fumarolePlumeModel.log
fumarolePlumeModel.tex
fumarolePlumeModel.tex~
fumarolePlumeModel_workflow.tex
initialConds.npy
objFn.npy
plumeAnalyser.aux
plumeAnalyser-Copy1.ipynb
plumeAnalyserInversion20190514.ipynb
plumeAnalyserInversion20190515.ipynb
plumeAnalyserInversionbase.ipynb
plumeAnalyser.ipynb
plumeAnalyser.log
plumeAnalyserRealPlume.ipynb
plumeAnalyserSyntheticHorizontal.ipynb
plumeAnalyserSyntheticHorizontal_play2.ipynb
plumeAnalyserSyntheticHorizontal_play.ipynb
plumeAnalyserSyntheticVertical.aux
plumeAnalyserSyntheticVertical.ipynb
plumeAnalyserSyntheticVertical.log
plumeAnalyserSyntheticVertical.tex
plumeAnalyser.tex
Untitled.ipynb
