_Backtrace_
bent_plume_analyser.py.*
bent_plume_analyser.py~
bent_plume_analyser.pyc
exp12.json
fumarole_plume_model.aux
fumarole_plume_model.log
fumarole_plume_model.pdf
fumarole_plume_model.py.*
fumarole_plume_model.tex
fumarole_plume_model.tex~
fumarole_plume_model_workflow.tex
images/*
initialConds.npy
.ipynb_checkpoints/*
objFn.npy
Model_and_synthdata_inversion_updated.py
plume_analyser.aux
plume_analyser-Copy1.ipynb
plume_analyser_inversion20190514_*.ipynb
plume_analyser_inversion20190515_*.ipynb
plume_analyser_inversionbase_.ipynb
plume_analyser.ipynb
plume_analyser.log
plume_analyser.log
plume_analyser.out
plume_analyser.pdf
plume_analyser_real_plume.ipynb
plume_analyser_synthetic_horizontal.ipynb
plume_analyser_synthetic_horizontal_play2.ipynb
plume_analyser_synthetic_horizontal_play.ipynb
plume_analyser_synthetic_vertical.*
plume_analyser.tex
plume_analyser_inversion_.*
__pycache__/*
Untitled.ipynb
Woodhouse_model_inversion.ipynb
inversion_tests/
plume_analyser_synthetic_vertical_files/
*.pdf
*.log
*.tex
*.out
*.aux
plumemodel_for_thesis/
*.np*
volumetric_plot_plotly.ipynb
test.html
bibliography.bib
synthetic_data/
archive/
*.zip